.span1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    color: chartreuse;
}

.span2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    color: rgb(255, 0, 179);
}

.premh1{
    font-size: xx-large;
    color: red;
    text-align: center;
}

.deuxh1{
    font-size: xx-large;
    color: blueviolet;
    text-align: center;
}

.div1{
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 20px;
    border-radius: 50%;
}

.div2{
    width: 200px;
    height: 200px;
    background-color: rgb(237, 255, 35);
    margin: 20px;
}
